body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

#bookCanvas {
    width: 100vw;
    height: 100vh;
}

.content {
    position: relative;
    height: 100vh;
    display: flex; 
    gap: 20px;
    justify-content: center; 
    background: #000000;
}

#carousel {
    display: flex; 
    gap: 20px; 
    justify-content: center; 
    flex-wrap: wrap; 
}

.page {
    
}
    .page img {
        position: absolute;
        width: 300px; 
        opacity: 0.3;
        height: auto; 
        display: block;
    }

#next, #prev {
    position: absolute;
    top: 40%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-family: monospace;
    font-weight: bold;
    left: 400px;
}

#next {
    left: unset;
    right: 400px;
}

